<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Map</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <script>
	var xLoc = '<%- xLoc %>';
	var xDest = '<%- xDest %>';
	var yLoc = '<%- yLoc %>';
	var yDest = '<%- yDest %>';
	var updateAt = '<%- updateAt %>';
  </script>
	  <input id="pac-input" class="controls" type="text" placeholder="Enter your destination">
  <div id="map-canvas"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpq6As46Nue8di1-wTbUhsbt5sgUCOcdU&libraries=places"></script>


  <script src="/javascripts/myscript.js"></script>
	
<form action="/map" method="post" id="hiddenForm">
	<input type="hidden" id="hiddenLoc" name="hiddenLoc"  value="test">
	<input type="hidden" id="hiddenDest" name="hiddenDest" value="test">
</form>

  <script src="/javascripts/updateloc.js"></script>

  </body>
</html>
